/*
 * About.css
 */
.About {
    /* width: 100%; */
    height: 600px;
    background-color :#F4F4F4;
}
.About .About__profile{
    display: flex;
    /* width: 960px; */
    margin: 0 10%;
}
.About .About__thumbnail{
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-right: 5%;
}
.About .About__introduction{
    margin: 0px 0px;
    width: 50%;
}

@media screen and (max-width: 559px){
    .About .About__profile{
        flex-direction: column;
        align-items: center;
    }
    .About .About__thumbnail{
        /* width: 45%; */
        margin: 0;
    }
    .About .About__introduction{
        margin-top: 20px;
        font-size: 14px;
        /* width: 45%; */
    }
}
