.Footer{
    background-color: #96AEC3;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.Footer .Footer__listItem{
    display: inline;
}
.Footer .Footer__listItem a{
    color: white;
}