
.Skill{
    /* width: 960px; */
    margin: 0 auto;
}
.Skill .Skill__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.Skill .Skill__listItem{
    width: calc(100%/3);
    text-align: center;
    margin-right: 20px;
}

@media screen and (max-width: 559px){
    .Skill .Skill__list{
        flex-direction: column;
    }
}
/* 中央に寄せたい
    justify-content: center;
    align-items: center;
    いれてもPCの横幅に合わせて中央・・・ */