
.Work .Work__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 960px;
    margin: 0 auto;
}
.Work .Work__contentBox{
    width: calc(100% / 3);
    margin-bottom: 30px;
}
.Work .Work__contentImage{
    display: block;
    padding-left: 50px;
    overflow: hidden;
    transition: 0.3s;
}
.Work .Work__contentText{
    padding-left: 50px;
}
.Work .Work__contentImage:hover{
    transform:scale(1.1);
    transition-duration: 0.3s;
}
