@charset "UTF8";

.Form__contents{
    margin: 10%;
    text-align: center;
    /* display: block; */
}
.Form__contents .Form__content{
    margin-bottom: 15px;
    width: 100%;
}
.Form__contents .Form__contentTitle{
    background: #e1e1e2;
    border-radius: 5px;
    padding: 3px 20px;
    width:130px;
    align-items: center;
}
.Form__contents .Form__inputItem{
    border: solid 1px #aaa;
    border-radius:5px;
    padding:10px;
    font-size: 15px;
    width:100%;
    margin-top: 5px;
}
.Form__contents .Form__comment{
    border: solid 1px #aaa;
    border-radius:5px;
    border-radius:5px;
    padding: 10px;
    height: 160px;
    font-size: 15px;
    width:100%;
    margin-top: 5px;
}
.Form__btn .Form__submitBtn{
    background: rgb(224, 211, 211);
    font-size:16px;
    border-radius: 8px;
    padding: 3px 20px;
    box-shadow:  2px 2px 3px;
    margin-bottom: 100px;
}