@charset "UTF8";

.Top .Top__tittle{
    font-family: 'Courier New',sans-serif;
    color: #252424;
    position: absolute;
    top: 6%;
    left: 5%;
    background: rgba(209, 208, 208, 0.555);
    padding: 1.5rem;
}

.Top .Top__img{
    width: 80%;
    height: auto;
    object-fit: cover;
    margin: 0 10%;
}