@charset "UTF-8";

html{
    scroll-behavior: smooth;
    /* スムーズスクロール用 */
}

h2{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #505050;
}
section{
    margin: 100px 0;
}
body{
    margin: 0;
    padding: 0;
    color: #505050;
}

p{
    font-size: 16px;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif ;
}


/*
 * HeaderNav.css
 */
.HeaderNav {
    width: 90%;
    height: 100px;
    display: flex;
	justify-content: flex-end;
    align-items: center;
}
.HeaderNav .HeaderNav__listItem{
    position: relative;
    display: inline-block;
    margin-left: 3rem;
    list-style: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.HeaderNav .HeaderNav__listItem::after{
    position: absolute;
    bottom: 2px;
    left: 0;
    content:'';
    width: 100%;
    height: 2px;
    background: #627295;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.HeaderNav .HeaderNav__listItem:hover::after{
    bottom: -4px;
    opacity: 1;
    visibility: visible;
}
/*
 * Footer.css
 */
.Footer{
    background-color: #96AEC3;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.Footer .Footer__listItem{
    display: inline;
}
/*
 * Top.css
 */
.Top .Top__tittle{
    font-family: 'Courier New',sans-serif;
    color: #252424;
    position: absolute;
    top: 40%;
    left: 20%;
    background: rgba(209, 208, 208, 0.555);
    font-size: 2.5rem;
    padding: 1rem;
}
.Top .Top__img{
    width: 70%;
    height: 500px;
    object-fit: cover;
    margin-left: 30%;
}
/*
 * About.css
 */
.About {
    width: 100%;
    height: 600px;
    background-color :#F4F4F4;
}
.About .About__profile{
    display: flex;
    width: 960px;
    margin: 0 auto;
}
.About .About__thumbnail{
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-right: 5%;
}
.About .About__introduction{
    margin: 0px 0px;
}
/*
 * Skill.css
 */
.Skill{
    width: 960px;
    margin: 0 auto;
}
.Skill .Skill__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.Skill .Skill__list .Skill__listItem{
    width: calc(100%/3);
    text-align: center;
    margin-right: 20px;
}
/*
 * Work.css
 */
.Work .Work__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 960px;
    margin: 0 auto;
}
.Work .Work__contentBox{
    width: calc(100% / 3);
    margin-bottom: 30px;
}
.Work .Work__contentBox .Work__contentImage{
    display: block;
    padding-left: 50px;
    overflow: hidden;
    transition: 0.3s;
}
.Work .Work__contentBox .Work__contentText{
    padding-left: 50px;
}
.Work .Work__contentBox .Work__contentImage:hover{
    transform:scale(1.1);
    transition-duration: 0.3s;
}

/*
 * Contact.css
 */
.Form__contents{
    width: 480px;
    margin: 0 auto;
    text-align: center;
}
.Form__contents .Form__content .Form__contentTitle{
    float: left;
    background: #e1e1e2;
    border-radius: 5px;
    margin-right: 20px;
    width: 135px;
}

.Form__contents input {
    border: solid 1px #aaa;
    border-radius:5px;
    padding:10px;
    font-size: 15px;
}

.Form__contents .Form__content{
    margin-bottom: 15px;
}
.Form__contents .Form__content input{
    width:300px;
}

.Form__contents .Form__content textarea{
    width:300px;
    border: solid 1px #aaa;
    border-radius:5px;
    border-radius:5px;
    padding: 10px;
    height: 160px;
    font-size: 15px;
}
.Form__contents .Form__contentBtn .Form__contentSubmit{
    background: rgb(224, 211, 211);
    font-size:16px;
    border-radius: 15px;
    padding: 5px 20px;
    box-shadow:  2px 2px 8px;
    margin-bottom: 100px;
}
/* ----------------------------------------------------------------  */





/* -------------------------------------------------------- */
/* parts */

.aoi-design-h1-01 {
    width: 50%;
    font-family: 'Courier New',sans-serif;
    border-bottom: 3px solid #817e7e;
}

.aoi-design-h2-01::first-letter{
    color: #6fdaad;
}

.aoi-design-h3-01 {
    width: 30%;
    text-align: center;
    border-bottom: 3px double #88b6f3;
    border-top: 3px double #88b6f3;
}

.aoi-design-h4-01 {
    width:30%;
    background-color: #f8fa78;
    text-align: right;
}

h5 {
    border-left:4px solid #eba2c4 ;
    padding : 0 10px;
}

h6 {
    padding: 5px;
    background-color: #c5f08c;
    width: 20%;
    box-shadow: 0 0 6px #817e7e;
}


.aoi-design-p-01 {
    background-color: #817e7e;
    width: 50%;
    text-align: center;
    font-family: 'Chalkduster',sans-serif; ;
}
.aoi-design-p-02 {
    background-color: #817e7e;
    width: 50%;
    text-align: left;
    font-family: 'Verdana',sans-serif;;
}
.aoi-design-p-03 {
    background-color: #817e7e;
    width: 50%;
    text-align: right;
    font-family: 'Courier New',sans-serif;
}

.aoi-design-i-01 {
    background-image: url(img/flower-y.jpeg);
    background-size: cover;
    height: 100vh;
}

.aoi-design-i-02 {
    width:15%;
    height: auto;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.aoi-design-i-03 {
    width: 30%;
    height: auto;
    border-radius: 50%;
}




.aoi-design-a-01 {
    text-decoration: none;
}

.aoi-design-a-02 {
    text-decoration: none;
    color: #48d4cd;
}
.aoi-design-a-03:hover {
    text-decoration: none;
    font-size:1.5rem;
}

.aoi-design-li-01 ul {
    padding: 0;
    position: relative;
    width: 10%;
}
.aoi-design-li-01 ul li{
    color: #457dc5;
    border-left: 6px solid #457dc5;
    background-color: #c3e5e7;
    margin-bottom: 3px;
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none;
}

.aoi-design-li-02 ul{
    width: 40%;
    background-color: #eee7e7;
    box-shadow: 0px 0px 0px 10px #eee7e7;
    border: dashed 2px #f7c02b;
    border-radius: 9px;
    margin: 0 10px;
    padding: 0.5em 0.5em 0.5em 2em ;
}

.aoi-design-li-02 ul li {
    line-height: 1.5;
    padding: 0.5em 0;
}

.aoi-design-t-02 {
    border-collapse: collapse;
    border: solid 2px orange;
}
.aoi-design-t-02 th,.aoi-design-t-02 td{
    border:dashed 1px orange;
}



.aoi-design-bg-02 {
    width: 100%;
    height: 200px;
    background: radial-gradient(#F2B9A1, #EA6264);
}
.aoi-design-bg-03{
    height: 200px;
    background: repeating-linear-gradient(-45deg, #444, #444 10px, #888 0, #888 20px);
}

.aoi-design-inp-03{
    width: 20%;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 10px;
    border-radius: 2rem;
    border: 1px solid #aaa;
}

.aoi-design-inp-04 {
    display: inline-block;
    border-radius: 20%;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    padding: 5px 20px;
}

/* header
---------------------------------------------------------------- */
.aoi-design-header-01{
    width: 90%;
    height: 100px;
    display: flex;
	justify-content: flex-end;
    align-items: center;
}
.aoi-design-header-01 li{
    position: relative;
    display: inline-block;
    margin-left: 3rem;
    list-style: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.aoi-design-header-01 li::after{
    position: absolute;
    bottom: 2px;
    left: 0;
    content:'';
    width: 100%;
    height: 2px;
    background: #627295;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.aoi-design-header-01 li:hover::after{
    bottom: -4px;
    opacity: 1;
    visibility: visible;
}
/* ------------------------------------------------------------- */

.aoi-design-header-01 h1{
    margin-right: auto;
}

.aoi-design-header-01 ul{
    display: flex;
}

.aoi-design-header-02{
    width  :90%;
    background-color: #457dc5;
    /* align-items: center; */
}
.aoi-design-header-02 ul{
    display: flex;
    justify-content: space-around;
}
.aoi-design-header-02 li{
    list-style: none;
}
/* footer
--------------------------------------- */
.aoi-design-footer-01{
    background-color: #a3b4d4;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.aoi-design-footer-01 li{
    display: inline;
}

.aoi-design-border-01{
    text-align: center;
    width: 40%;
    padding : 10px 10px;
    line-height : 1.8 ;
    border : dotted 3px green;
}
.aoi-design-border-02{
    text-align: end;
    width: 40%;
    padding: 1rem 1.5rem;
    border:10px groove #eb6101;
}
.aoi-design-border-03{
    width: 40%;
    padding: 0.5em 1em ;
    border:solid #00ffff ;
    border-width:2px 0px 0px 10px;
}

.aoi-design-button-01{
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #668ad8;
    color: #fff;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.aoi-design-button-01:active{
    -webkit-transform: translate(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgb(0, 0, 0, 0.2);
    border-bottom: none;
}

.aoi-design-button-02{
    display: inline-block;
    background-color: #87befd;
    color: #fff;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
}
.aoi-design-button-02:hover{
    background: #668ad8;
}

.aoi-design-button-03{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 2em 4em;
    background: #ff7f7f;
    color: #fff;
    transition: .4s;
}
.aoi-design-button-03> span{
    border-bottom: solid 2px #fff;
    border-top: solid 2px #fff;
}
.aoi-design-button-03:hover span{
    padding: 0.1em 0;
}

.aoi-design-hr-01{
    background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}
.aoi-design-hr-02{
    background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

.aoi-design-w-01{
    width: 500px;
    height: 300px;
    background: grey;
}
.aoi-design-w-01 p{
    width: 200px;
    height: 200px;
    background: blue;
}
.aoi-design-w-02{
    width: 500px;
    height: 300px;
    background: grey;
}
.aoi-design-w-02 p{
    width: 700px;
    height: 200px;
    background: blue;
}
.aoi-design-w-03{
    width: 500px;
    height: 300px;
    background: grey;
}
.aoi-design-w-03 p{
    width: 50%;
    height: 100px;
    background: blue;
}
/* min-width */
.aoi-design-w-04 {
    /*親要素大きめ*/
    width: 200px;
    background:skyblue;
}
.aoi-design-w-05 {
    /*親要素小さめ*/
    width: 100px;
    background:skyblue;
}
.nomin {
    background:gray;
    width: 50%;
    /*最小幅なし*/
}
.min {
    background:orange;
    width: 50%;
    /*最小幅あり*/
    min-width: 100px;
}

/* min-width */
.aoi-design-w-06 {
    /*親要素小さめ*/
    width: 100px;
    background:skyblue;
}
.aoi-design-w-07 {
    /*親要素大きめ*/
    width: 200px;
    background:skyblue
}
.nomin {
    /*最大幅なし*/
    background:gray;
    width: 50%;
}
.min {
    background:orange;
    width: 80%;
    /*最大幅あり*/
    max-width: 100px;
}



.aoi-design-grid-01{
    /* background: blue; */
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}






/* ------------------------------------------------------------------- */

/* スライダー */
@keyframes slider {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
div#slider {
    overflow: hidden;
}
div#slider figure img {
    width: 20%; float: left;
}
div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slider infinite;
}

/* ドロワーメニュー */
#drawer-checkbox {
    display: none;
}
#drawer-icon {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
}
#drawer-icon span {
    background:  #333;
    border-radius: 4px;
    display: block;
    height: 16%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease-in-out;
    width: 84%;
}
#drawer-icon span::before,
#drawer-icon span::after {
    -webkit-transform: rotate(0);
    background: #333;
    border-radius: 4px;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -50%;
    position: absolute;
    top: 50%;
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
    width: 100%;
}
#drawer-icon span::before {
    margin-top: -38%;
}
#drawer-icon span::after {
    margin-top: 19%;
}
#drawer-checkbox:checked ~ #drawer-icon span {
    background: rgba(51, 51, 51, 0);
}
#drawer-checkbox:checked ~ #drawer-icon span::before,
#drawer-checkbox:checked ~ #drawer-icon span::after {
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 50%;
    width: 100%;
}
#drawer-checkbox:checked ~ #drawer-icon span::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
#drawer-checkbox:checked ~ .drawer-icon span::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
#drawer-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 250px;
    max-width: 90%;
    height: 100%;
    background: #fff;
    transition: all 0.3s ease-in-out 0s;
    transform: translateX(-100%);
}
#drawer-checkbox:checked ~ #drawer-content {
    transform: translateX(0);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}

#drawer-close {
    display: none;
    position: fixed;
    z-index: 39;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}
#drawer-checkbox:checked ~ #drawer-close {
    display: block;
    opacity: 0.3;
}

/* トップへ戻る */
#Page__top{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 0;
    bottom: 10px;
    background: #273955;
    opacity: 0.6;
}
#Page__top a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    text-decoration: none;
}
#Page__top a::after{
    content: '▲';
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}


/* モーダル */
.Modal__wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center
}

.Modal__wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}
.Modal__wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
}
.Modal__wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
}
.Modal__wrapper .Modal__window {
    box-sizing: border-box;
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 70%;
    max-width: 600px;
    padding: 30px 30px 15px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    vertical-align: middle
}
.Modal__wrapper .Modal__window .Modal__content {
    max-height: 80vh;
    overflow-y: auto;
}
.Modal__overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8)
}
.Modal__wrapper .Modal__close {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    color: #95979c !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
}
.Modal__wrapper .Modal__close:hover {
    color: #2b2e38 !important
}

/* ハンバーガーメニュー */
#Nav__drawer {
    position: relative;
}
/*チェックボックス等は非表示に*/
.Nav__unshown {
    display:none;
}
/*アイコンのスペース*/
#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}
/*ハンバーガーの形をCSSで表現*/
#Nav__open span, #Nav__open span:before, #Nav__open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
}
#Nav__open span:before {
    bottom: -8px;
}
#Nav__open span:after {
    bottom: -16px;
}
/*閉じる用の薄黒箇所*/
#Nav__close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}
/*メニューの中身*/
#Nav__content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;/*最大幅（お好みで調整を）*/
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}
#Nav__content .Nav__contentList{
    list-style: none;
    margin: 2rem 0;
}

/*チェックがついたら表示させる*/
#Nav__input:checked ~ #Nav__close {
    display: block;
    opacity: .5;
}
#Nav__input:checked ~ #Nav__content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.Header__menu{
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}