@charset "UTF-8";


h2{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #505050;
}
section{
    margin: 100px 0;
}
body{
    margin: 0;
    padding: 0;
    color: #505050;
}

p{
    font-size: 16px;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif ;
}


/*
 * HeaderNav.css
 */
.HeaderNav {
    width: 90%;
    height: 100px;
    display: flex;
	justify-content: flex-end;
    align-items: center;
}
.HeaderNav .HeaderNav__listItem{
    position: relative;
    display: inline-block;
    margin-left: 3rem;
    list-style: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.HeaderNav .HeaderNav__listItem::after{
    position: absolute;
    bottom: 2px;
    left: 0;
    content:'';
    width: 100%;
    height: 2px;
    background: #627295;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.HeaderNav .HeaderNav__listItem:hover::after{
    bottom: -4px;
    opacity: 1;
    visibility: visible;
}
/*
 * Footer.css
 */
.Footer{
    background-color: #a3b4d4;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.Footer .Footer__listItem{
    display: inline;
}
/*
 * Top.css
 */
.Top .Top__tittle{
    font-family: 'Courier New',sans-serif;
    color: #252424;
    position: absolute;
    top: 40%;
    left: 20%;
    background: rgba(209, 208, 208, 0.555);
    font-size: 2.5rem;
    padding: 1rem;
}
.Top .Top__img{
    width: 70%;
    height: 500px;
    object-fit: cover;
    margin-left: 30%;
}
/*
 * About.css
 */
.About {
    width: 100%;
    height: 600px;
    background-color: rgb(238, 222, 207);
}
.About .About__item{
    display: flex;
    width: 960px;
    margin: 0 auto;
}
.About .About__item .-img{
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-right: 5%;
}
.About .About__item .-text{
    margin: 0px 0px;
}








/* skill
----------------------------------------------------------- */
.skill-content{
    /* background: yellow; */
    width: 960px;
    margin: 0 auto;
}
.skill-content ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.skill-content li{
    width: calc(100%/3);
    text-align: center;
    margin-right: 20px;
}
.skill-content h2{
    text-align: center;
}
/* -------------------------------------------------------- */
/* parts */

.aoi-design-h1-01 {
    width: 50%;
    font-family: 'Courier New',sans-serif;
    border-bottom: 3px solid #817e7e;
}

.aoi-design-h2-01::first-letter{
    color: #6fdaad;
}

.aoi-design-h3-01 {
    width: 30%;
    text-align: center;
    border-bottom: 3px double #88b6f3;
    border-top: 3px double #88b6f3;
}

.aoi-design-h4-01 {
    width:30%;
    background-color: #f8fa78;
    text-align: right;
}

h5 {
    border-left:4px solid #eba2c4 ;
    padding : 0 10px;
}

h6 {
    padding: 5px;
    background-color: #c5f08c;
    width: 20%;
    box-shadow: 0 0 6px #817e7e;
}


.aoi-design-p-01 {
    background-color: #817e7e;
    width: 50%;
    text-align: center;
    font-family: 'Chalkduster',sans-serif; ;
}
.aoi-design-p-02 {
    background-color: #817e7e;
    width: 50%;
    text-align: left;
    font-family: 'Verdana',sans-serif;;
}
.aoi-design-p-03 {
    background-color: #817e7e;
    width: 50%;
    text-align: right;
    font-family: 'Courier New',sans-serif;
}

.aoi-design-i-01 {
    background-image: url(img/flower-y.jpeg);
    background-size: cover;
    height: 100vh;
}

.aoi-design-i-02 {
    width:15%;
    height: auto;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.aoi-design-i-03 {
    width: 30%;
    height: auto;
    border-radius: 50%;
}




.aoi-design-a-01 {
    text-decoration: none;
}

.aoi-design-a-02 {
    text-decoration: none;
    color: #48d4cd;
}
.aoi-design-a-03:hover {
    text-decoration: none;
    font-size:1.5rem;
}

.aoi-design-li-01 ul {
    padding: 0;
    position: relative;
    width: 10%;
}
.aoi-design-li-01 ul li{
    color: #457dc5;
    border-left: 6px solid #457dc5;
    background-color: #c3e5e7;
    margin-bottom: 3px;
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none;
}

.aoi-design-li-02 ul{
    width: 40%;
    background-color: #eee7e7;
    box-shadow: 0px 0px 0px 10px #eee7e7;
    border: dashed 2px #f7c02b;
    border-radius: 9px;
    margin: 0 10px;
    padding: 0.5em 0.5em 0.5em 2em ;
}

.aoi-design-li-02 ul li {
    line-height: 1.5;
    padding: 0.5em 0;
}

.aoi-design-t-02 {
    border-collapse: collapse;
    border: solid 2px orange;
}
.aoi-design-t-02 th,.aoi-design-t-02 td{
    border:dashed 1px orange;
}



.aoi-design-bg-02 {
    width: 100%;
    height: 200px;
    background: radial-gradient(#F2B9A1, #EA6264);
}
.aoi-design-bg-03{
    height: 200px;
    background: repeating-linear-gradient(-45deg, #444, #444 10px, #888 0, #888 20px);
}

.aoi-design-inp-03{
    width: 20%;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 10px;
    border-radius: 2rem;
    border: 1px solid #aaa;
}

.aoi-design-inp-04 {
    display: inline-block;
    border-radius: 20%;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    padding: 5px 20px;
}

/* header
---------------------------------------------------------------- */
.aoi-design-header-01{
    width: 90%;
    height: 100px;
    display: flex;
	justify-content: flex-end;
    align-items: center;
}
.aoi-design-header-01 li{
    position: relative;
    display: inline-block;
    margin-left: 3rem;
    list-style: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.aoi-design-header-01 li::after{
    position: absolute;
    bottom: 2px;
    left: 0;
    content:'';
    width: 100%;
    height: 2px;
    background: #627295;
    opacity: 0;
    visibility: 0;
    transition: .3s;
}
.aoi-design-header-01 li:hover::after{
    bottom: -4px;
    opacity: 1;
    visibility: visible;
}
/* ------------------------------------------------------------- */

.aoi-design-header-01 h1{
    margin-right: auto;
}

.aoi-design-header-01 ul{
    display: flex;
}

.aoi-design-header-02{
    width  :90%;
    background-color: #457dc5;
    /* align-items: center; */
}
.aoi-design-header-02 ul{
    display: flex;
    justify-content: space-around;
}
.aoi-design-header-02 li{
    list-style: none;
}
/* footer
--------------------------------------- */
.aoi-design-footer-01{
    background-color: #a3b4d4;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.aoi-design-footer-01 li{
    display: inline;
}

.aoi-design-border-01{
    text-align: center;
    width: 40%;
    padding : 10px 10px;
    line-height : 1.8 ;
    border : dotted 3px green;
}
.aoi-design-border-02{
    text-align: end;
    width: 40%;
    padding: 1rem 1.5rem;
    border:10px groove #eb6101;
}
.aoi-design-border-03{
    width: 40%;
    padding: 0.5em 1em ;
    border:solid #00ffff ;
    border-width:2px 0px 0px 10px;
}

.aoi-design-button-01{
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #668ad8;
    color: #fff;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.aoi-design-button-01:active{
    -webkit-transform: translate(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgb(0, 0, 0, 0.2);
    border-bottom: none;
}

.aoi-design-button-02{
    display: inline-block;
    background-color: #87befd;
    color: #fff;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: .4s;
}
.aoi-design-button-02:hover{
    background: #668ad8;
}

.aoi-design-button-03{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 2em 4em;
    background: #ff7f7f;
    color: #fff;
    transition: .4s;
}
.aoi-design-button-03> span{
    border-bottom: solid 2px #fff;
    border-top: solid 2px #fff;
}
.aoi-design-button-03:hover span{
    padding: 0.1em 0;
}

.aoi-design-hr-01{
    background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}
.aoi-design-hr-02{
    background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

.aoi-design-w-01{
    width: 500px;
    height: 300px;
    background: grey;
}
.aoi-design-w-01 p{
    width: 200px;
    height: 200px;
    background: blue;
}
.aoi-design-w-02{
    width: 500px;
    height: 300px;
    background: grey;
}
.aoi-design-w-02 p{
    width: 700px;
    height: 200px;
    background: blue;
}
.aoi-design-w-03{
    width: 500px;
    height: 300px;
    background: grey;
}
.aoi-design-w-03 p{
    width: 50%;
    height: 100px;
    background: blue;
}
/* min-width */
.aoi-design-w-04 {
    /*親要素大きめ*/
    width: 200px;
    background:skyblue;
}
.aoi-design-w-05 {
    /*親要素小さめ*/
    width: 100px;
    background:skyblue;
}
.nomin {
    background:gray;
    width: 50%;
    /*最小幅なし*/
}
.min {
    background:orange;
    width: 50%;
    /*最小幅あり*/
    min-width: 100px;
}

/* min-width */
.aoi-design-w-06 {
    /*親要素小さめ*/
    width: 100px;
    background:skyblue;
}
.aoi-design-w-07 {
    /*親要素大きめ*/
    width: 200px;
    background:skyblue
}
.nomin {
    /*最大幅なし*/
    background:gray;
    width: 50%;
}
.min {
    background:orange;
    width: 80%;
    /*最大幅あり*/
    max-width: 100px;
}



.aoi-design-grid-01{
    /* background: blue; */
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* work
--------------------------------------------------------------------- */
.aoi-design-fb-01{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 960px;
    margin: 0 auto;
}
.content-box{
    width: calc(100% / 3);
    /* background-color: #f0f0f0; */
    margin-bottom: 30px;
}
.content-box img{
    display: block;
    padding-left: 50px;
}
.content-box p{
    padding-left: 50px;
}
.img-wrap{
    overflow: hidden;
}
.img-wrap img{
    transition: 0.3s;
}
.img-wrap img:hover{
    transform:scale(1.1);
    transition-duration: 0.3s;
}
/* ----------------------------------------------------------------  */




/* contact
----------------------------------------------------------------------- */
.aoi-design-form-01{
    /* background: yellow; */
    width: 480px;
    margin: 0 auto;
    text-align: center;
}
.aoi-design-inp-08,
.aoi-design-inp-09,
.aoi-design-inp-10{
    margin-bottom: 15px;
}
.aoi-design-form-01 label{
    float: left;
    background: #e1e1e2;
    border-radius: 5px;
    margin-right: 20px;
    width: 135px;
}
.aoi-design-inp-08 input,
.aoi-design-inp-09 input,
.aoi-design-inp-10 input{
    width:300px;
}
.aoi-design-form-01 input[type="text"],
.aoi-design-form-01 input[type="email"]{
    border: solid 1px #aaa;
    border-radius:5px;
    padding:10px;
    font-size: 15px;
}
.aoi-design-inp-10 textarea{
    width:300px;
    border: solid 1px #aaa;
    border-radius:5px;
    border-radius:5px;
    padding: 10px;
    height: 160px;
    font-size: 15px;
}
.aoi-design-inp-11 input{
    background: rgb(224, 211, 211);
    font-size:16px;
    border-radius: 15px;
    padding: 5px 20px;
    box-shadow:  2px 2px 8px;
    margin-bottom: 100px;
}
/* ------------------------------------------------------------------- */